:root {
    --color1: #017bab;
    --color2: rgb(191, 203, 230);
    --color3: #4e4d4d;
    --color4: white;
    --color5: #252323;
}

html {
    font-size: 62.5%; /*seleccionamos todo el 
      documento para reiniciar el tamano total 
      del documento*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-image: linear-gradient(
        to top, 
        var(--color2) 0%,
        var(--color4)
    );
}

.form-login {
    width: 400px;
    height: 400px;
    background: var(--color5);
    margin: auto;
    margin-top: 110px;
    margin-bottom: 130px;
    box-shadow: 7px 13px 37px var(--color3);
    padding: 20px 30px;
    border-top: 4px solid var(--color1);
    color: var(--color4);
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid var(--color1);
    margin-bottom: 15px;
    padding: 11px 10px;
    background: var(--color3);
    font-size: 14px;
    font-weight: bold;
}

.buttons {
    width: 100%;
    height: 40px;
    background: var(--color1);
    border: none;
    color: var(--color4));
    margin-bottom: 16px;
}

.buttons:hover {
    cursor: pointer;
}

.form-login p {
    height: 40px;
    text-align: left;
    /*border-bottom: 1px solid;*/
}

.form-login a {
    color: var(--color4);
    text-decoration: none;
    font-size: 16px;
}

.form-login a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;    
}

.login-google:hover {
    cursor: pointer;
}



