* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  width: 100vw;
  weight: 100vh;
  background-color: lavenderblush;
}
.header {
  background-color: gray;
  width: 100%;
  height: 5vh;
  display: flex;
}

.header__nav {
  width: 50vw;
}
.nav__ul {
  list-style: none;
}
.nav__ul__li {
  font-size: 1.5rem;
}
.nav__ul__li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
.main__container {
  height: 85vh;
  min-width: 15rem;
  display: flex;
}
.main__container__aside {
  width: 25%;
  min-width: 15rem;
  height: 85vh;
  background-color: black;
}
.div__aside {
  width: 90%;
  height: 20vh;
  background-color: white;
  align-content: space-between;
}
.aside__article {
  text-align: center;
}
.main__container__section {
  width: 75%;
  height: 85vh;
  justify-content: flex-end;
  padding: 2rem;
}
.div__section {
  height: 30vh;
  border: 0.1rem black dotted;
  margin-bottom: 8rem;
}
.div__section__p {
  font-size: 2rem;
  text-align: justify;
}
.footer {
  height: 10vh;
  font-size: 2rem;
  text-align: center;
  background-color: cyan;
}
.div__footer {
  padding: 0;
  margin: 0;
}
