div > p {
  /* combinador padre directo en el que el padre -div-, es el contenedor del p, haciendo que el estilo solo se aplique a los elementos p que sean hijos directos del div*/
  color: blue;
}

h2 + p {
  color: red; /* combinador hermano cercano, aplica el estilo a todos los elementos p que esten cerca al elemento h2*/
}

h2 ~ p {
  /* combinador hermano general en el que aplica estilos al hermano general, donde, todos los p que tengan como hermano general un h2, aplicara el estilo aqui contenido*/
  color: white;
}
